{% load static %}
<!doctype html>
<html>
<head>
    <link rel='stylesheet' href="{% static 'style.css' %}">
<title>Full Moon Apothecary</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
    
</head>
    <header class="child">
        <h1 class ="title">Full Moon Apothecary</h1>
    

    </header>
<body>
    <img  id="banner" src="{% static 'flowers.jpg' %} " alt ='A Field of Flowers'/>
   {%block content %} <h1 id="bodyh1" >Welcome to the Full moon Apothecary</h1>
    <p> Here we aim to educate and offer information and insight into common and uncommon herbs, fungi</p>
{% endblock %}
</body>
    <footer class="footer">
    <p>Disclaimer </p>
        <p>Page Created by Jair Brown</p>
    </footer>
</html> 